body {
    background-color: lightyellow;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: darkblue;
}

p {
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* header div */
.header {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    color: blue;
    text-align: left;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    height: 60px;
    width: 100%;
}

/* main div */
.main {
    display: flex;
    justify-content: space-between;
    background-color: lightyellow;
    color: darkblue;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-left: 210px;
    height: 60px;
    width: 100%;
}

 /* The sidenav */
 .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 90px;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 5px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }